[Unit]
Description=Speedtest Prometheus Exporter
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=nobody
ExecStart=/usr/local/bin/speedtest-exporter.py

[Install]
WantedBy=multi-user.target
